:root {
  /* Espaçamento */
  --spacing-scale-default: 0;

  /* Escala Layout (8px)*/
  --spacing-scale-base: 8px;
  --spacing-scale-2x: 16px;
  --spacing-scale-3x: 24px;
  --spacing-scale-4x: 32px;
  --spacing-scale-5x: 40px;
  --spacing-scale-6x: 48px;
  --spacing-scale-7x: 56px;
  --spacing-scale-9x: 72px;

  /* Escala Ajuste (4px)*/
  --spacing-scale-half: 4px;
  --spacing-scale-baseh: 12px;
  --spacing-scale-2xh: 20px;
  --spacing-scale-3xh: 28px;
}
