@use 'styles/colors';
@use 'styles/typography';
@use 'styles/spacing';

*,*::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-lineheight-medium);
    color: var(--text-on-light);
    background-color: var(--surface-light);
}

/* Classe para acessibilidade, esconde visualmente mas mantém para leitores de tela */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container-lg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-scale-2x);
}
